.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.playbtn{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.playbtn button{
  width:10%;
  height:50px;
  background-color:green;
  font-size:20px;
  font-weight: 600;
  font-family:serif;
  color:red;
  cursor: pointer;
  border-radius:20px;
  border:2px solid rgb(49, 252, 79);
}

.playbtn button:hover{
  background-color:rgb(29, 159, 29) ;
}